.van-cell{
   
    font-size:12px;
  }
    
  .cell{
      display:flex;
      font-size:15px;
      .orderNumber{
          flex:1.7rem;
           text-align:left;
           overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
           
      }
      span{
          flex:1;
          text-align:right;
          overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
      }
      
  }
 .imageList{
     margin:0.15rem 0 0.15rem 0;
     display:flex;
     .imageinfo{
        
         flex:1;
     }
     img{
         width:1.1rem;
         height:1.1rem;
         border:1px solid #DFDFDF;
     }
     .imageText{
         width:1.1rem;
         font-size:12px;
         overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
     }
 }